

@media (max-width: 768px){

  .backImg{
    width: 40px;
  }

  .form-container{
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 768px) {
  .backImg{
    width: 60px;
  }
}



.backImg{
  margin-left: 2%;
  margin-top: 2%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.form-box {
  width: 800px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-box h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 20px;

}


.ng-valid[required], .ng-valid.required {
  border-left: 5px solid rgb(66, 169, 72);
}

.ng-touched:not(form) {
  border-left: 5px solid rgb(91, 109, 205);
}

.ng-invalid:not(form) {
  border-left: 5px solid rgb(169, 68, 66);
}



label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea,
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  width: 100%;
  margin-top: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: rgb(91, 192, 222);
}

button[type="submit"],
button[type="reset"] {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

button[type="submit"] {
  background-color: rgb(92, 184, 92);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="reset"] {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button[type="submit"]:disabled {
  background-color: red;
  cursor: not-allowed;
}

.form-group {
  margin-bottom: 30px;
}


