/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{
  width: 8px;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
  background-color: black;
}


::-webkit-scrollbar-thumb{
  background-color: #E9AB17;
}


::-webkit-scrollbar-thumb:hover{
  background-color: gray;
}

/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/
