<div class="join">
  <div class="image">
    <nav class="navbar" [class]="isChecked ? 'transparent': 'small-padding'">
      <button class="lines" (click)="toggle()">&#9776;</button>

      <div class="logo">
        SlamSystem
        <div id="basketball">
          <div class="basketball">
            <div class="ball">
              <div class="lineA"></div>
              <div class="lineB"></div>
            </div>
            <div class="shadow"></div>
          </div>
        </div>
      </div>


      <div class="centerList" *ngIf="isChecked || media">
        <ul class="menu">
          <li class="unstyle">
            <a href="#home"> Home </a>
          </li>
          <li class="unstyle">
            <a href="#about"> About</a>
          </li>
          <li class="unstyle">
            <a href="#membership">Membership</a>
          </li>
          <li class="unstyle">
            <a href="#training">Training</a>
          </li>
          <li class="unstyle">
            <a routerLink
                 ="/join" routerLinkActive="active">Join Now</a>
          </li>
          <li class="unstyle">
            <a href="#">Administrate</a>
          </li>
          <li class="unstyle">
            <a href="#contact"> Contact </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="boxover">
      <div id="home">
        <p class="name">
          Welcome to SlamSystem!
        </p>

        <p class="description">
          Welcome to the home of the SlamSystem,
          an organization dedicated to promoting
          basketball clubs at all levels of play.
          Whether you're a seasoned pro or just starting out,
          you'll find everything you need here.
        </p>

        <button type="submit" value="join" class="button but" routerLink
          ="/join" routerLinkActive="active">
          Join Now</button>
      </div>
    </div>
  </div>

  <div id="about">
    <p class="titles">
      About our Organization
    </p>

    <p class="desc">
      The Basketball Club Adimistration organization was founded in 2022 by a group
      of basketball enthusiasts who wanted to create an organization that
      could promote the sport within the community.
      Over the months, the SlamSystem has grown to include
      players of all skill levels,
      from beginners to seasoned veterans.
    </p>

    <div class="row">
      <div class="column" id="colMiss">

        <p class="bold">Mission Statement</p>
        <p id="mission">Our mission is to provide safe, fun and
          supportive environments for basketball players
          of ages between 8-40 and all skill levels</p>
      </div>
      <div class="column" id="colVal">
        <p class="bold">Values</p>
        <ul id="values">
          <li>Sportmanship</li>
          <li>Inclusivity</li>
          <li>Community</li>
          <li>Growth</li>
        </ul>
      </div>
      <div class="column" id="colAcomp">
        <p class="bold">Accomplishments</p>

        <ul id="accomp">
          <li>5-time Division Champion</li>
          <li>8-time National Champions</li>
          <li>Hosted 3 high-profile tournaments</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="imgMember">
    <div id="membership">
      <p class="titles">Membership and registration</p>

      <p id="descMember">
        Joining a Basketball Club is easy! Simply fill out our
        online registration form and pay the
        membership fee. Members have access to all of the facilities,
        equipment, and coaching staff.
      </p>

      <!-- Slideshow container -->
      <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade" id="first">
          <div class="img">

          </div>
        </div>

        <div class="mySlides fade" id="second">
          <div class="img"></div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>

      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
      </div>
    </div>

  </div>

  <div>
    <p class="titles" id="training">
      Coaches, Training and Tournaments
    </p>

    <p class="desc">
      Our Basketball Clubs provide players with
      top-level coaching and training. Our coaching
      staff is highly experienced and always willing to go above and beyond to help
      players improve their skills.
    </p>

    <div class="row move">
      <div class="column yellow">
        <p class="littleTitles bold">Training programms</p>
        <ul class="little">
          <li>Basketball Basics</li>
          <li>Ball-Handling and Dribling</li>
          <li>Shooting techniques</li>
          <li>Defensive Skills</li>
        </ul>
      </div>
      <div class="column yellow">
        <p class="littleTitles bold">Coaching Staff</p>
        <p class="little">Our coaching staff brings a wide
          range of experience and knowledge to our players, helping them
          develop skills and build confidence both on and off the court.</p>
      </div>
    </div>

    <div class="row move">
      <div class="column yellow">
        <p class="littleTitles bold">Sessions and Schedules</p>
        <p class="little">We offer a variety of sessions throughout the week,
          including early morning, midday and evening sessions.
          Players can sign up for individual sessions or full
          programs.</p>
      </div>

      <div class="column yellow">
        <p class="littleTitles bold">Events and Competitions</p>
        <p class="little">We host a variety of events and competitions
          throughout the year, including league play, tournaments and camps.
          Our events provide players with the opportunity to test
          their skills against other players and work with experienced coaches</p>
      </div>
    </div>
  </div>

  <hr class="horizontal-line">

  <div id="contact">

    <div class="titles">Contact Us</div>
    <p class="desc">Got a question or concern? Our
      staff is here to help. Contact us by phone, email, or drop by during
      our office hours.</p>

    <div class="table">
      <table>
        <tr>
          <th>Phone:</th>
          <td>0660 6969696969</td>
        </tr>
        <tr>
          <th>Email:</th>
          <td style="text-decoration: underline">
            ioana-denisa.barbos@htlstp.at <br>
            javkhlanbayar.uuganbayar@htlstp.at
          </td>
        </tr>
        <tr>
          <th>Office Hours:</th>
          <td>Monday-Friday, 9am-5pm</td>
        </tr>
      </table>
    </div>

  </div>


</div>





