.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.but{
  color: black;
  font-family: Cambria, sans-serif;
}

#second{
  display: none;
  justify-content: center;
}

#secondText, #firstText{
  margin-left: 45%;
  font-size: 15px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  color: black;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.3);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




#about{
  background-color: floralwhite;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.name{
  color: #FBFBF9;
}

.join {
  margin: -0.5em;
}
a{
  text-decoration: none;
  color: white;
  font-family: SansSerif, sans-serif;

}

a:hover{
  color: black;

}

.unstyle{
  list-style: none;
}

.description{
  color: #FBFBF9;
}



.navbar{
  align-items: center;
  justify-content: space-between;
  background-color:#0C090A;
  color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.image{
  background-image: url("https://res.cloudinary.com/fleetnation/image/private/c_fit,w_1120/g_south,l_text:style_gothic2:%C2%A9%20Stockimo,o_20,y_10/g_center,l_watermark4,o_25,y_50/v1482436482/fgrjiskdvmm5hm9tdydj.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.menu li:hover{
  background-color: darkgray;
  border-radius: 5px;
  transition: 0.3s ease;
}
li{
  width: 8em;
  text-align: center;
}


.lines{
  display: none;
  background-color: transparent;
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 5%;
  padding-top: 10px;
}

.button{
  background-color: #E9AB17;
  color: black;
  border: none;
}

.titles{
  padding: 20px;
  color: #493D26;
}

.desc{
  font-family: "Palatino Linotype", sans-serif;
}

.button:hover{
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
}


.ball {
  position: absolute;
  background-color: #e76f51;
  border-radius:50%;
  width:40px;
  height:40px;
  overflow: hidden;
  border: 3px solid #333;
  animation: bounce 1.5s ease-in infinite;
}

@keyframes bounce {
  0% {transform: translate3d(0, 0, 0) rotate(0deg);}
  25% {transform: translate3d(0, -110px, 0) rotate(90deg);}
  50% {transform: translate3d(0, 0, 0) rotate(180deg);}
  75% {transform: translate3d(0, -110px, 0) rotate(270deg);}
  100% {transform: translate3d(0, 0, 0) rotate(360deg);}
}

.ball:before, .ball:after {
  content:"";
  position: absolute;
  background-color: #333;
  width: 115px;
  height: 3px;
  top: 35px;
  left: -20px;
}

.ball:before {
  transform: rotate(45deg);
}

.ball:after {
  transform: rotate(-45deg);
}

.lineA{
  border-radius: 50%;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -50%;
  top: -50%;
}

.lineB {
  border-radius: 50%;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35%;
  top: 35%;
}

.shadow {
  position: absolute;
  width:100px;
  height:15px;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius:50%;
  top:30px;
  z-index:-1;
  left:-20px;
  animation: scale 1.5s ease-in infinite;
}

@keyframes scale {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0.7);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0.7);}
  100% {transform: scaleX(1);}
}

.bold{
  font-weight: bold;
}

#imgMember{
  background-image: url("https://wallpapers-clan.com/wp-content/uploads/2023/04/basketball-pattern-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

#membership{
  z-index: 10;
  background-color: floralwhite;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;

}

.yellow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF8DC;
  object-fit: contain;
}
.little{
  font-size: 20px;
  text-align: center;
  margin-left: 5%;
}

@media (max-width: 768px){

  .yellow{
    margin: 5%;
    height: 20rem;
  }

  .little{
    font-size: 20px;
    text-align: center;
  }

  .prev, .next {
    margin-left: -45%;
    margin-right: 5%;
  }

  .img{
    padding-top: 10%;
    width: 40%;
  }

  #membership{
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
  #descMember{
    margin: 20px;
    font-size: 20px;
    line-height: 2;
  }

  #imgMember{
    min-height: 1000px;
    z-index: 1;
  }

  #about{
    padding-bottom: 40px;
  }

  .bold{
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .basketball {
    position: relative;
    margin-left: 70%;
  }

  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #mission, #values, #accomp{
    font-size: 20px;
    padding-top: 10px;
    color: black;
  }

  #values, #accomp{
    font-style: italic;
    text-align: center;
  }


  #values ul, #accomp ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .bold{
    display: flex;
    justify-content: center;
  }


  .transparent{
    background-color: rgba(0,0,0,0.6);
  }
  .column{
    padding-top: 20px;
    font-size: 25px;
    color: #493D26;

  }

  .desc{
    padding: 20px;
    font-size: 18px;
  }

  .titles{
    padding-top: 50px;
    font-size: 35px;
    display: flex;
    justify-content: center;
  }

  .button{
    font-size: 20px;
    padding: 5px 50px;
    border-radius: 4px;
    margin-left: 20px;
  }
  .name{
    font-size: 50px;
    padding-left: 20px;
    padding-top: 120px;
  }

  .description{
    font-size: 20px;
    padding: 20px;
  }


  .navbar{
    padding-bottom: 200px;
  }

  .small-padding{
    padding-bottom: 10px;
  }


  nav .lines{
    display: block;
  }

  .menu{
    padding-top: 140%;
  }

  nav ul.show{
    display: flex;
  }
  .image{
    min-height: 450px;
  }

  .boxover{
    min-height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  div.centerList{
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  li{
    margin-top: 2px;
    padding: 0.2em 1em;
  }


  .logo{
    text-align: center;
    font: 25px bold;
    padding-bottom: 10px;
    font-family: Bahnschrift, serif;
  }

  td{
    padding: 10%;
  }

  .table{
    padding-bottom: 5%;
    padding-top: 5%;
  }

}

.horizontal-line{
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  margin: 50px 0;
}

table, td, th{
  border: 1px solid rgba(128, 128, 128,0.5);
}

td{
  text-align: center;
  vertical-align: center;
}

table{
  border-collapse: collapse;
  width: 90%;
}

.table{
  display: flex;
  justify-content: center;
  align-content: center;
  object-fit: contain;
}

tr:nth-child(odd){
  background-color: #F9F6EE;
}

tr:hover{
  background-color: rgb(128, 128, 128, 0.2);
}

@media (min-width: 768px){

  .table{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  td{
    padding: 2%;
  }

  .yellow{
    height: 27rem;
    margin-left: 10%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }


  .little{
    font-size: 20px;
  }


  .mySlides{
    display: flex;
    justify-content: center;
    padding-top: 5%;
  }

  .img{
    object-fit: contain;
    width: 100%;
    height: 20rem;
  }



  #descMember{
    font-size: 20px;
    line-height: 2;
    margin: -5px 5% 4%;
  }

  #imgMember{
    min-height: 1000px;
  }

  #about{
    padding-bottom: 60px;
  }

  .basketball {
    position: relative;
    margin-left: 105%;
  }

  #mission, #values, #accomp{
    font-size: 20px;
    padding-top: 10px;
    color: black;
  }

  #mission{
    line-height: 2;
  }

  #values li, #accomp li{
    line-height: 2;
  }

  #accomp, #values{
    margin-left: 25%;
    text-align: center;
  }
  div#colAcomp{
    text-align: center;
  }

  div#colVal{
    text-align: center;
  }

  #colVal{
    text-align: center;
  }
  .bold{
    padding-bottom: 10px;
  }

  #values, #accomp{
    font-style: italic;
  }
  .column{
    font-size: 40px;
    float: left;
    width: 30%;
  }

  #colMiss, #colVal{
    padding-bottom: 100px;
  }

  #colAcomp{
    padding-bottom: 20px;
  }

  .row{
    margin-top: 40px;
    margin-left: 60px;
  }

  .row:after{
    content: "";
    display: table;
    clear: both;
  }

  .column{
    font-size: 30px;
    padding-top: 30px;
    color: #493D26;
  }
  .titles{
    font-size: 50px;
    padding: 60px;
  }

  .desc{
    font-size: 20px;
    padding-left: 60px;
    margin-right: 8em;
  }

  .button{
    padding: 7px 60px;
    font-size: 20px;
    margin-left:60px;
    margin-top: 30px;
  }

  .description{
    font-size: 20px;
    padding-left: 60px;
    padding-top: 30px;
    margin-right: 20%;
  }

  .name{
    font-size: 60px;
    padding-top: 130px;
    padding-left: 60px;
  }

  .image{
    min-height: 450px;

  }

  .boxover{
    min-height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .menu{
    display: flex;
    gap: 0.7em;
    font-size: 17px;
  }

  .logo{
    font: 32px bold;
    font-family: Bahnschrift, serif;

  }

  .navbar{
    display: flex;
    padding: 10px;
  }

  .menu li{
    padding: 5px 14px;
  }

  .unstyle{
    padding: 0.5em 1em;
    margin-top: 10px;
    color: white;
  }


}


